.form-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 80px 60px 60px 20px;
    .article1 {
        display: flex;
        width: 40%;
        height: 100%;
        align-items: center;
        justify-content: center;
        .contact-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 450px;
            height: auto;
            background: #fff;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.507);
            h2 {
                text-align: center;
                padding: 20px;
                font-size: 24px;
                color: #333;
            }
            form {
                width: 100%;
                height: 100%;
                padding: 15px;
                label {
                    display: block;
                    margin-bottom: 5px;
                    font-weight: bold;
                }
                input,select,textarea {
                    max-width: 400px;
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }
                button {
                    display: inline-block;
                    border: none;
                    border-radius: 15px;
                    background: #fff;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.507);
                    margin: 20px;
                    padding: 10px;
                    max-width: 100px;
                    width: 100%;
                    max-height: 40px;
                    height: 100%;
                    cursor: pointer;
                    align-items: center;
                    a {
                        top: 0;
                        left: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        text-decoration: none;
                        text-align: center;
                        color: #000;
                    }
                }
                button:hover {
                    background: #000;
                    color: #fff;
                }
            }
        }
    }
    .article2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        height: 100%;
        .container-principal {
            width: 100%;
            height: auto;
            .container-title {
                width: 100%;
                h1 {
                    font-size: 0.8em;
                }
            }
        }
    }
    aside {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 100%;
        .container-principal {
            width: 100%;
            height: auto;
            .container-title {
                width: 100%;
                h2 {
                    font-size: 2em;
                }
            }
            .container-btns {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                padding: 10px;
                button {
                    width: 80px;
                    height: 80px;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.507);
                    border-radius: 50%;
                    border: none;
                    a {
                        img {
                            padding: 15px;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
