article {
    .container-principal {
        width: 100%;
        height: 100%;
        .container-title {
            width: 100%;
            height: 10%;
        }
        .container-filter {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 20%;
            .filter-form {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 70%;
                height: 50px;
                background: #fff;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.507);
                color: #000;
                border-radius: 15px;
                .search-container {
                    display: flex;
                    width: 70%;
                    height: 100%;
                    background: #fff;
                    border-radius: 15px;
                    align-items: center;
                    justify-content: space-between;
                    color: #000;
                    padding: 10px;
                    label {
                        width: 30%;
                        font-size: 1em;
                        text-align: center;
                    }
                    input {
                        border: none;
                        width: 70%;
                        height: 100%;
                        border-radius: 5px;
                        font-size: 1em;
                    }
                }
                .container-filter2 {
                    display: flex;
                    width: 30%;
                    height: 100%;
                    background: #000;
                    border-radius: 15px;
                    align-items: center;
                    justify-content: space-between;
                    color: #fff;
                    padding: 10px;
                    label {
                        width: 30%;
                        font-size: 1em;
                        text-align: center;
                    }
                    select {
                        width: 70%;
                        height: 100%;
                        border-radius: 5px;
                        font-size: 1em;
                    }
                }
            }
        }
        
        .sub-container {
            display: flex;
            width: 100%;
            height: 70%;
            padding: 20px;
            justify-content: space-around;
            overflow: auto;
            .container-list {
                .list-container {
                    .list-element {
                        width: 100%;
                        height: 100%;
                        .container-img {
                            width: 100%;
                            height: 40%;
                            img {
                                width: 100%;
                            }
                        }
                        .container-description {
                            width: 100%;
                            height: 60%;
                            .container-title {
                                width: 100%;
                                height: 40%;
                                h1 {
                                    font-size: 0.3em;
                                }
                            }
                            .container-text {
                                width: 100%;
                                height: 40%;
                                p {
                                    font-size: 0.6em;
                                }
                            }
                            .container-btn {
                                width: 100%;
                                height: 20%;
                                justify-content: center;
                                align-items: center;
                                button {
                                    max-width: 150px;
                                    width: 100%;
                                }
    
                            }
                        }
                    }
                }
            }
        }
    } 
}