@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    box-sizing: border-box;
}

@media (max-width: 480px) {
    footer {
        width: 100%;
        padding: 5px;
        z-index: 1;
    }
}